* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #090909;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/* MENU */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: center;
    gap: 35px;

    padding: 18px;

    background: rgba(0, 0, 0, 0.95);
    border-bottom: 2px solid #e00000;
}

nav a {
    color: white;
    text-decoration: none;

    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;

    transition: 0.3s;
}

nav a:hover {
    color: #ff1616;
    text-shadow: 0 0 12px red;
}


/* CAPA */

.hero {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 100px 20px 50px;

    background:
        radial-gradient(
            circle at center,
            #3b0000 0%,
            #100000 35%,
            #050505 75%
        );
}

.hero h1 {
    font-size: clamp(55px, 11vw, 130px);
    font-weight: 900;

    text-transform: uppercase;

    text-shadow:
        5px 5px 0 #a00000,
        0 0 25px #ff0000;

    transform: rotate(-2deg);

    transition: 0.3s;
}

.hero h2 {
    margin-top: 15px;

    color: #ff1717;

    font-size: clamp(20px, 4vw, 38px);

    letter-spacing: 8px;
}

.guitar {
    font-size: 100px;

    margin: 30px;

    animation: guitar 2s infinite ease-in-out;
}

@keyframes guitar {

    0%, 100% {
        transform: rotate(-8deg);
    }

    50% {
        transform: rotate(8deg);
    }

}

.hero p {
    max-width: 650px;

    color: #bbb;

    font-size: 18px;

    line-height: 1.7;

    margin-top: 20px;
}


/* BOTÃO */

.botao {
    margin-top: 35px;

    padding: 15px 35px;

    background: #d60000;

    color: white;

    border: 2px solid white;

    text-decoration: none;

    font-weight: bold;

    text-transform: uppercase;

    letter-spacing: 2px;

    transition: 0.3s;
}

.botao:hover {
    background: white;
    color: black;

    box-shadow: 0 0 25px red;

    transform: scale(1.05);
}


/* SEÇÕES */

section {
    padding: 100px 8%;
}

.titulo {
    text-align: center;

    margin-bottom: 50px;
}

.titulo h2 {
    font-size: 45px;

    text-transform: uppercase;

    color: #ff1515;

    text-shadow: 0 0 15px #700000;
}

.titulo p {
    color: #999;

    margin-top: 10px;
}


/* SOBRE */

.sobre {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 50px;

    align-items: center;
}

.foto-principal {
    width: 100%;
    height: 450px;

    object-fit: cover;

    border: 8px solid white;

    box-shadow: 15px 15px 0 #a00000;
}

.texto h3 {
    font-size: 35px;

    margin-bottom: 20px;
}

.texto p {
    color: #bbb;

    line-height: 1.9;

    font-size: 18px;

    margin-bottom: 20px;
}


/* HITS */

.hits {
    background: #111;
}

.cards {
    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 25px;
}

.card {
    padding: 30px;

    background: #181818;

    border-left: 5px solid #d00000;

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);

    box-shadow:
        0 10px 30px
        rgba(255, 0, 0, 0.25);
}

.card .icone {
    font-size: 45px;

    margin-bottom: 15px;
}

.card h3 {
    color: #ff2222;

    margin-bottom: 12px;

    text-transform: uppercase;
}

.card p {
    color: #aaa;

    line-height: 1.6;
}


/* GALERIA */

.galeria {
    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 15px;
}

.galeria img {
    width: 100%;
    height: 280px;

    object-fit: cover;

    border: 3px solid #333;

    transition: 0.3s;

    cursor: pointer;
}

.galeria img:hover {
    transform:
        scale(1.03)
        rotate(-1deg);

    border-color: red;

    box-shadow:
        0 0 20px #800000;
}


/* FRASE */

.frase {
    background:
        linear-gradient(
            rgba(90, 0, 0, .75),
            rgba(0, 0, 0, .95)
        );

    text-align: center;
}

.frase blockquote {
    max-width: 900px;

    margin: auto;

    font-size:
        clamp(25px, 4vw, 45px);

    font-weight: bold;

    line-height: 1.4;
}

.frase span {
    display: block;

    margin-top: 25px;

    color: #ff3333;

    font-size: 18px;
}


/* PLAYLIST */

.playlist {
    max-width: 800px;

    margin: auto;
}

.musica {
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px;

    margin-bottom: 10px;

    background: #151515;

    border-bottom: 2px solid #400000;

    transition: 0.3s;
    
    text-color: red;
}


.musica:hover {
    background: #250000;

    padding-left: 30px;
}

.musica span {
    color: #e00000;
}


/* RODAPÉ */

footer {
    padding: 40px 20px;

    text-align: center;

    background: black;

    border-top: 2px solid #a00000;

    color: #777;
}

footer p {
    margin: 10px;
}

footer strong {
    color: red;
}


/* CELULAR */

@media (max-width: 800px) {

    nav {
        gap: 12px;

        padding: 15px 5px;
    }

    nav a {
        font-size: 11px;
    }

    .sobre {
        grid-template-columns: 1fr;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .galeria {
        grid-template-columns: 1fr 1fr;
    }

    .foto-principal {
        height: 350px;
    }

}


@media (max-width: 500px) {

    .galeria {
        grid-template-columns: 1fr;
    }

    section {
        padding: 80px 6%;
    }

}